<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eos veritatis omnis architecto earum id minima labore fuga, possimus delectus laudantium suscipit laboriosam aliquid facere vel ex velit commodi illum reprehenderit eum, tempore quod, enim veniam nesciunt. Impedit modi, quam officiis esse sit, dolores nesciunt, dolorem doloribus quae omnis beatae!\</p>
    <button>OK</button>
    <p><%= 2+1 %></p>
    <p><%= Math.floor(Math.random() *6)+1 %> </p>
    <h1>
        <%= num %>
    </h1>
</body>
</html>